.postit {
    width: 12rem;
    height: 12rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    outline: 1px solid var(--bg-color);

    & .title {
        flex-basis: 25%;
        font-size: 1.4rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .description {
        flex: 1;
        padding: .3rem;
        text-align: start;
        white-space: pre-wrap;
    }

    & textarea {
        background-color: transparent;
    }

    & .title,
    .description {
        word-wrap: break-word;

        &:hover {
            outline: 2px solid rgb(195, 195, 195);
            outline-offset: -2px;
        }
    }

    & .copy {
        position: absolute;
        right: .2rem;
        bottom: .4rem;
        cursor: grab;
        filter: invert();
    }

    &.minimized {
        height: 3rem;

        & .title {
            flex: 1;
        }
    }
}

.cursor-copy,
.cursor-copy * {
    cursor: grabbing !important;
}